<div class="container-fluid bg-dark text-light">
    <div class="row p-5">
        <div class="col-lg-4 text-center">
            <h3 class="" style="color: rgb(124, 122, 122);">Little <span class="text-light">Fasion</span></h3>
        </div>
        <div class="col-lg-4 text-center">
            <h3>Site Map</h3>
            <h5 ><a href="" class="footernavigatelinks">Story</a></h5>
            <h5 ><a href="" class="footernavigatelinks">Privacy policy</a></h5>
            <h5 ><a href="" class="footernavigatelinks">Contact</a></h5>
            <h5 ><a href="" class="footernavigatelinks">
Products</a></h5>
        </div>
        <div class="col-lg-4 text-center">
            <h3>Social</h3>
            <div class="d-flex justify-content-center gap-4 mt-3">
                <div class="footernavigatelinks"><i class="fa-brands fa-facebook fa-2x"></i></div>
                <div class="footernavigatelinks"><i class="fa-brands fa-instagram fa-2x"></i></div>
                <div class="footernavigatelinks"><i class="fa-brands fa-twitter fa-2x"></i></div>
                <div class="footernavigatelinks"><i class="fa-brands fa-youtube fa-2x"></i></div>
            </div>
        </div>
    </div>
</div>
