<div class="container-fluid" style="background-image: url(https://cdn.wallpapersafari.com/53/25/WHSmnN.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="row" >
        <div class="col-md-6  d-flex justify-content-center align-items-center"  style="height: 60vh;">
            <div> <h1 style="color: orange; font-weight: bolder;">Choose your</h1> <br>
            <h1 style="color: black; font-weight:900;">favorite stuffs</h1></div>
        </div>
        <div class="col-md-6 p-1">
            
        </div>
    </div>
</div>

<!-- New Arrivals -->
<div class="container-fluid  mt-3 mb-lg-5 mb-3 p-lg-5 p-2">
    <h1 class="text-dark ps-5" style="font-weight: bold;">New Arrivals</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-3"  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">New Arrival</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">Discount Price</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 "  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2"></div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>
                </div>
            </div>
        </div>
       
</div>
</div>


<!-- Populars -->
<div class="container-fluid   mb-lg-5 mb-3 p-lg-5 p-2">
    <h1 class="text-dark ps-5" style="font-weight: bold;">Popular</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-3"  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">Trending</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2"></div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 "  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2"></div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>
                </div>
            </div>
        </div>
       
</div>
</div>
