<div class="container-fluid" style="background-image: url(https://cdn.wallpapersafari.com/53/25/WHSmnN.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="row" >
        <div class="col-md-6  d-flex justify-content-center align-items-center"  style="height: 60vh;">
            <div> <h1 style="color: orange; font-weight: bolder;   font-family:  Gothic Expanded One sans-serif;">Choose your</h1> <br>
            <h1 style="color: black; font-weight:900;   font-family:  Gothic Expanded One sans-serif;">favorite stuffs</h1></div>
        </div>
        <div class="col-md-6 p-1">
            
        </div>
    </div>
</div>

<!-- New Arrivals -->
<div class="container-fluid  mt-3 mb-lg-5 mb-3 p-lg-5 p-2">
    <h1 class="text-dark ps-5" style="font-weight: bold;   font-family:  Gothic Expanded One sans-serif;">New Arrivals</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-3"  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://i5.walmartimages.com/asr/b23905f0-ecc3-4d78-9ca9-a4e928f9876c.530530ac18323a51ec3f49578bf2775e.jpeg"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">New Arrival</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://i5.walmartimages.com/asr/dde4daf0-293c-4a55-a4e1-61b67b60872e.a3be035d0943602be0a5838d7158c903.jpeg"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">Discount Price</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 "  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://down-my.img.susercontent.com/file/my-11134207-7rasb-m24chxanqfw230"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2"></div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>
                </div>
            </div>
        </div>
       
</div>
</div>


<!-- Populars -->
<div class="container-fluid   mb-lg-5 mb-3 p-lg-5 p-2">
    <h1 class="text-dark ps-5" style="font-weight: bold;   font-family:  Gothic Expanded One sans-serif;">Popular</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-3"  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://www.picclickimg.com/SjgAAOSwptFlwflF/Wooden-Alphabet-Puzzles-set-ABC-Letter-Puzzle-Board.webp"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">Trending</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://m.media-amazon.com/images/I/91FZ7VTjSSL.jpg"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2"></div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 "  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://i.etsystatic.com/29448324/r/il/0ab347/3723836340/il_fullxfull.3723836340_dfxg.jpg"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2"></div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>
                </div>
            </div>
        </div>
       
</div>
</div>
