<div
    style="background-image: url(https://static.vecteezy.com/system/resources/previews/003/444/544/non_2x/online-delivery-warehouse-cartoon-paper-art-on-mobile-shopping-online-free-vector.jpg); background-size: cover; background-repeat: no-repeat; height: 92vh;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" id="homesubdiv1">
                <h1 style="color: orangered;   font-family:  Gothic Expanded One sans-serif; font-weight: bold;">Little <span class="text-dark">Fasion</span></h1>
               
                <h2>Welcome to our shop - Where Learning Meets Fun!</h2>
            </div>
            <div class="col-lg-6 mt-lg-5 mt-1 pt-lg-5 pt-2">
                <img src=""
                    alt="" class="rounded w-100 p-3">
            </div>
        </div>
        <a routerLink="/about"><button class="btn px-4 py-2 rounded  learnmorebtn">Learn More About Us</button></a>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-lg-5 mt-2 pt-lg-5 pt-2 mb-lg-5 mb-2 pb-lg-5 pb-2">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            
            <h4 > "<span style="font-weight: 800; color: orange;">Discover</span> a wide range of toys and educational accessories designed to spark creativity, curiosity, and development in every child. Whether you're a parent, teacher, or caregiver, our carefully curated products help children learn through play in the most joyful and effective ways. Shp with confidence, knowing you're chosing tools that inspire young minds."</h4>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!-- featured products section -->
<div class="container-fluid text-center mt-3 mb-lg-5 mb-3 p-lg-5 p-2">
    <h1 class="text-dark" style="font-weight: bold;   font-family:  Gothic Expanded One sans-serif;">Featured Products</h1>
    <div class="row mt-5 text-center">
        <div class="col-md-4 mb-3"  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">New Arrival</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">New Arrival</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 "  style="display: flex; justify-content: center;">
            <div class="card rounded-0  carddiv" style="width: 80%;">
                <div style="position: relative;"><img
                        src="https://th.bing.com/th/id/OIP.9APwV5MvwAHeJO0ViO2BzwHaE8?rs=1&pid=ImgDetMain"
                        class="card-img-top rounded-0" alt="...">
                    <div style="position: absolute; top: 9px; left: 9px; background-color: white; color: grey; "
                        class="px-2">New Arrival</div>
                    <div class="heartsymbol"><i class="fa-solid fa-heart"></i></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title " style="float: left;">Card title</h5><br>
                    <p class="card-text" style="float: left; text-align: justify;">Some quick example text to build on
                        the card title and make up the bulk of the card’s content.</p>
                    <h6 class="card-text" style="float: left;">$40</h6>

                </div>
            </div>
        </div>
       
</div>

<a routerLink="/products" id="viewalllink" >View all products</a>
</div>